/* Reset margins and padding for body and iframe */
body,
iframe {
    margin: 0;
    padding: 0;
}

/* Set height and font-family for body */
body {
    height: 100%;
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
}

/* Styles for iframe container */
.iframe-container {
    position: relative;
    width: 100vw;
}

/* Styles for iframe */
.iframe-container iframe,
#ytplayer,
#weather {
    width: 100%;
    height: 80vh;
}

/* Styles for video overlay */
.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;
}

/* Styles for video overlay header */
.video-overlay h1 {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 73px;
    color: white;
    margin: 0;
}

/* Styles for video overlay button */
.video-overlay button {
    padding: 5px 10px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-size: 24px;
}

/* Styles for distance container */
.distance-container {
    max-width: 1000px;
    margin: 0 auto;
}

.distance-container ul {
    list-style: none;
    padding: 10px;
}

/* Styles for list item */
.distance-container li {
    overflow: hidden;
    clear: both;
    display: table;
    margin-bottom: 20px;
}

/* Styles for images */
.distance-container img {
    width: 300px;
    height: 200px;
}

/* Styles for list header */
.distance-container h2 {
    font-size: 32px;
}

/* Image alignment */
.distance-container .img-left {
    float: left;
    margin-right: 30px;
}

.distance-container .img-right {
    float: right;
    margin-left: 30px;
}


.distance-image {
    filter: saturate(100%);
}

.distance-image:hover {
    filter: saturate(200%);
}
